PORT=3002
API_KEY=chave_secreta_aqui
IMG_BASE_URL=https://img.dredecoplays.com.br
UPLOAD_DIR=public/uploads
MAX_FILE_SIZE=5242880
ALLOWED_ORIGINS=https://dredecoplays.com.br,https://api.dredecoplays.com.br
